Repository anchildress1/supascribe-notes: changes, and which lefthook commands are due for each by the changed paths.
All: check-format, lint

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: npx --no-install commitlint --edit {1}

pre-commit:
  parallel: false
  commands:
    check-format:
      glob: '*.{js,ts,json,md,yml,yaml}'
      run: npx prettier --check {staged_files}
    lint:
      glob: '*.{js,ts}'
      run: npx eslint {staged_files}

pre-push:
  commands:
    all-tests:
      run: npm test

chore: Apply suggestions from code review
  Makefile
  deploy.sh
  eslint.config.js
  package.json
  src/config.ts
  src/middleware/auth.ts
  src/server.ts
Due: check-format, lint

fix: resolve test regression and lint errors
  eslint.config.js
  test-remote.mjs
  tests/unit/config.test.ts
  tests/unit/server-errors.test.ts
Due: check-format, lint

chore: update package-lock
  package-lock.json
Due: check-format

chore: add permissions to rp
  .github/workflows/release-please.yml
Due: check-format

chore: add permissions to rp (#3)
  .github/workflows/release-please.yml
Due: check-format

chore: fix rp permissions and token
  .github/workflows/release-please.yml
Due: check-format

fix: improve lookup discovery
  .DS_Store
  CHANGELOG.md
  src/.DS_Store
  src/schemas/card.ts
  src/server.ts
  src/tools/lookup-tools.ts
  supabase/migrations/004_add_lookup_indexes.sql
  supabase/migrations/005_add_discovery_views.sql
  tests/integration/lookup-tools.test.ts
  tests/unit/tools/lookup-tools.test.ts
Due: check-format, lint

fix: harden search validation and tests
  src/schemas/card.ts
  src/server.ts
  tests/helpers/http.ts
  tests/integration/lookup-tools.test.ts
  tests/integration/mcp-server.test.ts
  tests/unit/schemas/card.test.ts
  tests/unit/server-errors.test.ts
Due: check-format, lint

fix: preserve historical created_at on write upsert
  README.md
  src/schemas/card.ts
  src/tools/write-cards.ts
  tests/unit/tools/write-cards.test.ts
Due: check-format, lint

fix: expose new tools on chatgpt sdk surface
  README.md
  src/lib/openapi.ts
  src/server.ts
  tests/integration/lookup-tools.test.ts
  tests/unit/lib/openapi.test.ts
Due: check-format, lint

chore: include gitignore updates
  .gitignore
Due: none

fix: harden tool discovery and deployment metadata
  .env.example
  .gcloudignore
  README.md
  deploy.sh
  docs/troubleshoot-tools.md
  src/config.ts
  src/lib/openapi.ts
  src/server.ts
  tests/integration/lookup-tools.test.ts
  tests/integration/mcp-server.test.ts
  tests/unit/config.test.ts
  tests/unit/lib/openapi.test.ts
  tests/unit/server-errors.test.ts
  tests/unit/views/auth-view.test.ts
Due: check-format, lint

fix: detect cross-tab auth sessions on consent page
  docs/troubleshoot-tools.md
  src/views/auth-view.ts
  tests/unit/views/auth-view.test.ts
Due: check-format, lint

fix: secure discovery views
  README.md
  supabase/migrations/006_secure_discovery_views.sql
Due: check-format

fix: default created_at when empty
  src/schemas/card.ts
  src/tools/write-cards.ts
  tests/unit/schemas/card.test.ts
Due: check-format, lint

fix: publish OpenAPI response schemas
  src/lib/openapi.ts
  tests/unit/lib/openapi.test.ts
Due: check-format, lint

chore: align deploy service name
  deploy.sh
Due: none

feat: add email/password sign-in to auth UI
  docs/troubleshoot-tools.md
  src/views/auth-view.ts
  tests/unit/views/auth-view.test.ts
Due: check-format, lint

docs: align Cloud Run service references
  README.md
  test-remote.mjs
Due: check-format

chore: default SERVER_VERSION to git sha
  deploy.sh
Due: none

docs: document SUPABASE_ACCESS_TOKEN
  .env.example
  README.md
Due: check-format

fix: create generation run before revisions
  src/tools/write-cards.ts
  tests/unit/tools/write-cards.test.ts
Due: check-format, lint

feat: add more tools (#5)
  .DS_Store
  .env.example
  .gcloudignore
  .gitignore
  CHANGELOG.md
  README.md
  deploy.sh
  docs/troubleshoot-tools.md
  src/.DS_Store
  src/config.ts
  src/lib/openapi.ts
  src/schemas/card.ts
  src/server.ts
  src/tools/lookup-tools.ts
  src/tools/write-cards.ts
  src/views/auth-view.ts
  supabase/migrations/004_add_lookup_indexes.sql
  supabase/migrations/005_add_discovery_views.sql
  supabase/migrations/006_secure_discovery_views.sql
  test-remote.mjs
  tests/helpers/http.ts
  tests/integration/lookup-tools.test.ts
  tests/integration/mcp-server.test.ts
  tests/unit/config.test.ts
  tests/unit/lib/openapi.test.ts
  tests/unit/schemas/card.test.ts
  tests/unit/server-errors.test.ts
  tests/unit/tools/lookup-tools.test.ts
  tests/unit/tools/write-cards.test.ts
  tests/unit/views/auth-view.test.ts
Due: check-format, lint

fix(db): harden function search_path and move pg_trgm out of public
  supabase/migrations/007_harden_security_advisors.sql
Due: none

fix(schema): make card url optional
  src/schemas/card.ts
Due: check-format, lint

fix: optimize RLS policies
  supabase/migrations/008_fix_rls_perf.sql
Due: none

docs: streamline schema guidance
  README.md
Due: check-format

fix(db): keep pg_catalog in search_path
  supabase/migrations/007_harden_security_advisors.sql
Due: none

fix(db): harden function search_path and move pg_trgm out of public (#7)
  README.md
  src/schemas/card.ts
  supabase/migrations/007_harden_security_advisors.sql
  supabase/migrations/008_fix_rls_perf.sql
Due: check-format, lint

feat: support batch card lookup
  README.md
  src/lib/openapi.ts
  src/schemas/card.ts
  src/server.ts
  src/tools/lookup-tools.ts
  tests/integration/lookup-tools.test.ts
Due: check-format, lint

feat!: require ids array for lookup_card_by_id
  README.md
  src/lib/openapi.ts
  src/schemas/card.ts
  src/server.ts
  src/tools/lookup-tools.ts
  tests/integration/lookup-tools.test.ts
  tests/unit/tools/lookup-tools.test.ts
Due: check-format, lint

docs: document lookup card ids payload
  README.md
Due: check-format

chore: align lookup naming with batch semantics
  src/lib/openapi.ts
  src/server.ts
  src/tools/lookup-tools.ts
  tests/unit/tools/lookup-tools.test.ts
Due: check-format, lint

improve lookups (#8)
  README.md
  src/lib/openapi.ts
  src/schemas/card.ts
  src/server.ts
  src/tools/lookup-tools.ts
  tests/integration/lookup-tools.test.ts
  tests/unit/tools/lookup-tools.test.ts
Due: check-format, lint

feat(db): enforce unique title and blurb
  supabase/migrations/009_add_unique_title_blurb.sql
Due: none

test(schema): assert write_cards optional fields
  tests/integration/mcp-server.test.ts
  tests/unit/lib/openapi.test.ts
Due: check-format, lint
